In [ ]:
# check whether the string(multi chars) has atleast one number.
# asd12wert: yes it has number
# sdwertwe@$%^: no it does not has the number

In [ ]:
# check whether the string(multi chars) has atleast one number.
# asd12wert: yes it has number
# sdwertwe@$%^: no it does not has the number
stringVal = input("Enter the string here: ")
list1 = [*stringVal]
for x in list1:
    if ord(x) in range(48, 58):
        print("Yes it has a number")
        break
    else: 
        print("No it does have a number")

In [1]:
s="asa#$"
for char in s:
    print(char)

a
s
a
#
$

In [2]:
stringVal = input("Enter the string here: ")
n = 0
for x in stringVal:
    if ord(x) in range(48, 58):
       n += 1
if n > 0:
    print("Yes it has a number")
else:
    print("NO it does not have a number")

Enter the string here: qeqwrr
NO it does not have a number

In [3]:
stringVal = input("Enter the string here: ")
n = 0
for x in stringVal:
    if ord(x) in range(48, 58):
       n += 1
if n > 0:
    print("Yes it has a number")
else:
    print("NO it does not have a number")

Enter the string here: 12456qwert
Yes it has a number

In [4]:
#we245
#werwwetret4
stringVal = input("Enter the string here: ")
n = 0
for x in stringVal:
    if ord(x) in range(48, 58):
       n += 1
       break
if n > 0:
    print("Yes it has a number")
else:
    print("NO it does not have a number")

Enter the string here: asdfasfd34
Yes it has a number

In [5]:
print("started")
for i in "hyd":
    print(i)
    break
else:
    print("else block")
print("Ended")

started
h
Ended

In [6]:
print("started")
for i in "hyd":
    print(i)
else:
    print("else block")
print("Ended")

started
h
y
d
else block
Ended

In [7]:
print("started")
for i in "hyd":
    print(i)
    if i=="y":
        break
else:
    print("else block")
print("Ended")

started
h
y
Ended

In [8]:
print("started")
for i in "hyd":
    print(i)
    if i=="D":
        break
else:
    print("else block")
print("Ended")

started
h
y
d
else block
Ended

In [9]:
print("started")
for i in "hyd":
    print(i)
    if i=="d":
        break
else:
    print("else block")
print("Ended")

started
h
y
d
Ended

In [10]:
stringVal = input("Enter the string here: ")
for x in stringVal:
    if ord(x) in range(48, 58):
        print("Yes it has a number")
        break
else:
    print("NO it does not have a number")

Enter the string here: afds
NO it does not have a number

In [11]:
stringVal = input("Enter the string here: ")
for x in stringVal:
    if ord(x) in range(48, 58):
        print("Yes it has a number")
        break
else:
    print("NO it does not have a number")

Enter the string here: werwe324#%$%
Yes it has a number

In [12]:
stringVal = input("Enter the string here: ")
for x in stringVal:
    if ord(x) in range(48, 58):
        print("Yes it has a number")
        break
else:
    print("NO it does not have a number")

Enter the string here:
NO it does not have a number

In [13]:
for i in "pyt":
    print(i)

p
y
t

In [14]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [15]:
for i in (1,2,3,4):
    print(i)

1
2
3
4

In [16]:
print("started")
i=0
while i<4:
    i=i+1
    print(i)
print("ended")

started
1
2
3
4
ended

In [17]:
print("started")
i=10
while i<4:
    i=i+1
    print(i)
print("ended")

started
ended

In [ ]:
print("started")
i=0
while i<4:
    i=i-1
    print(i)
print("ended")
# it will go with negative infinite number of iterations.

In [ ]:
names ="emp1,emp2,emp3,emp4" #iterate through the employee names
for i in names:
    print(i)

In [18]:
names ="emp1,emp2,emp3,emp4"
names.split(",")

['emp1', 'emp2', 'emp3', 'emp4']

In [19]:
names ="emp1,emp2,emp3,emp4"
for name in names.split(","):
    print(name)

emp1
emp2
emp3
emp4

In [20]:
names ="emp1,emp2,emp3,emp4"
empName = ""

for name in names:
    if name != ",":
        empName += name
        if ord(name) in range(48, 58):
            print(empName)
            empName = ""

emp1
emp2
emp3
emp4

In [22]:
names ="emp1,emp,emp3,emp4"
empName = ""

for name in names:
    if name != ",":
        empName += name
    else:
        print(empName)
        empName = ""

emp1
emp
emp3

In [23]:
names ="emp1,emp,emp3,emp4"
empName = ""

for name in names:
    if name != ",":
        empName += name
    else:
        print(empName)
        empName = ""
print(empName)

emp1
emp
emp3
emp4

In [24]:
names ="emp1,emp2,emp3,emp4"
empName = ""
n = 0

for name in names:
    n += 1
    if name != "," and n != len(names):
        empName += name
    else:
        print(empName)
        empName = ""

emp1
emp2
emp3
emp

In [25]:
names ="emp1,emp2,emp3,emp4"
empName = ""
for name in names:
    if name != ",":
        empName += name
    else:
        print(empName)
        empName = ""

emp1
emp2
emp3

In [26]:
names ="emp1,emp2,emp3,emp4,"
empName = ""
for name in names:
    if name != ",":
        empName += name
    else:
        print(empName)
        empName = ""

emp1
emp2
emp3
emp4

In [27]:
names ="emp1,emp2,emp3,emp4"
empName = ""
for name in names:
    if name != ",":
        empName += name
    else:
        print(empName)
        empName = ""
print(empName)

emp1
emp2
emp3
emp4